// color variables set to be used consistently
$main-color: rgb(44, 218, 145);
$main-colordark: rgb(28, 128, 86);
$primary-color: rgba(255, 255, 255, 0.8);  // Semi-transparent white for buttons
$hover-color: rgba(255, 255, 255, 0.6);    // Slightly more transparent on hover
$border-color: rgba(255, 255, 255, 0.8);
$nocolor-color:rgba(0, 0, 0, 0) ; // no color at all
$background-gradient: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

// color variable for the file explorer//
$explorer-darkmaincolor:#191919;
$explorer-maincolor:#20201a;
$explorer-lightmaincolor:#2e2c27;
$explorer-lightsecondcolor:rgb(44, 44, 44);

/* special transparent class (timesave)*/

.transparent {
    transform: translate(-50%, -50%);
    background: rgba (0,0,0,0.1);
    backdrop-filter:blur(80px);
    backdrop-filter: blur(10px);
}
/* special selected class(timesave*/
.selected {
    background-color: $hover-color; 
    border: 1px solid $border-color; 
}

@mixin shadoweffect{
    text-shadow: .55rem .55rem darken($main-colordark, 35%);
}
* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
}

// header //
header {
    color:aliceblue;
    text-align: center;
    padding: 1rem;
}

// navbar content both left and right side
nav {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    
    .navbar_button--left {
        display:flex;
        flex-direction:row;
        #gamebutton{
            display:none;
        }

    }
    .navbar_button--right {
        display:flex;
        flex-direction: row;
        #loginbutton{
            display:none;
        }

    }
}
// disable connection window //
.Connection_Window {
    
    display:none;
}

// body content 
body {
    padding:1rem;
    background: $background-gradient;
    font-size:28px;
    height: 2000px;
    margin:0;
    display:flex;
    flex-direction: column;
    gap:35px
}
// set up buttons skin here
.myButton {
    background-color:$nocolor-color;
    color:white;
    border: 0em;
    padding: 1em 1em;
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    
}
// add some effect when hover all myButton 
.myButton:hover {
    background-color: $hover-color;
    color:  black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
// add a sticky class to be call by javascript when it reaches its scroll position
.sticky {
    position:sticky;
    top:0;
    width:100%;
    z-index:5000;
    backdrop-filter:blur(80px);
    backdrop-filter: blur(10px);
    border: 1px solid white;
}
// set background color and width of logo //
img {
    background-color: black;
    width:max-content;
}
// welcome text //
.Welcome {
    text-align: center;
    color:white;
}
// file Explorer part //
.File-explorer {
    display:flex;
    flex-direction: column;
    
    height:2000px;
    // file explorer header //
    .File-explorer_header{
        background-color:$explorer-maincolor;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap:1rem;
        padding:1rem;
        color:white;
       
        border:#2c2c2c solid 1px;
        
    }
    // header logo //
    .File-explorer_header-logo{
        width:10%;
        img {
            width:50%;
        }
    }
    // file explorer path style part //
    .File-explorer_header-path{
        display:flex;
        gap:15px;
        padding:1rem;
        background-color:$explorer-lightmaincolor ;
        border-radius: 25px;
        border:#2c2c2c solid 2px;
        
    }

    // file explorer research style part //
    .File-explorer_header-research{
        background-color:$explorer-lightmaincolor;
        display:flex;
        flex-direction:row;
        border-radius: 25px;
        padding:0.5rem;
        border:#2c2c2c solid 2px;
        & > form{
            display:flex;
            align-items: center;
            gap:1rem;
            padding:0.6rem;
            height:30px;
            & > input {
                height:100%;
                width:100%;
                font-size: 18px;
                background-color:#2e2c27 ;
                border:none;
                color:white;
            }
            & > button{
                background-color: rgba(24, 100, 171, 0);
                border:none;
                width:50%;
                height:100%;
                
                
            
            }
        }

    }

    // file explorer Content part //

    .File-explorer_content{
        display:flex;
        flex-direction: row;
        height:1000px;
        background-color:$explorer-darkmaincolor;
        padding:1rem;
        gap:1rem;
    
        // file feature part (my files new files ect...)//
        .File-explorer_File-feature {
            border:$explorer-lightsecondcolor solid 1px;
            display:flex;
            flex-direction: column;
            width:33%;
            
            // file feature span style config //
            & > span{
                font-size: 35px;
                display:flex;
                flex-direction: row;
                gap:0.8rem;
                color:white;
                border:$explorer-lightsecondcolor solid 1px;
                padding:0;
                height:10%;
                align-items: center;
                & > i{
                    padding-left:1rem;
                }
            
            }
            & > span:hover{
                background-color: $hover-color;
                color:  black;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                cursor:pointer;
            }
        }
        // file display part //
        .files {
            width:65%;
            list-style-type: none;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            border:$explorer-lightsecondcolor solid 1px;
            
            // item display config //
            .item {
                background-color: $explorer-lightsecondcolor;
                display:flex;
                flex-direction: row;
                text-align: center;
                font-size:15px;
                color:white;
                align-items: center;
                width:100%;
                justify-content: space-between;
                cursor: pointer;
                & > span{
                    width:30%;
                }
            }

            // example info style // 
            .File-explorer_menu_info{
                background-color:$explorer-maincolor ;
                display:flex;
                flex-direction: row;
                text-align: center;
                font-size:15px;
                color:white;
                align-items: center;
                justify-content: space-between;
                border:$explorer-lightsecondcolor solid 1px;
                & > span{
                    border-left:#2c2c2c solid 1px;
                    width:30%;
                }
    
            }
        }
    }
    // file explorer menuwindow with download/upload button and info about files //
    .File-explorer_menu{
        background-color:$explorer-lightsecondcolor;
        display:flex;
        flex-direction: row;
        padding-left:1rem;
        color:white;
        justify-content: space-between;
        gap:1rem;
        border:$explorer-lightsecondcolor solid 1px;
        .File-explorer_menu_left{
            display:flex;
            justify-content: space-between;
            width:59%;
            padding-left: 0.6rem;
            font-size: 20px;
            align-items: center;
            text-align: center;
            & > span{
                width:30%;
                align-items: center;
            }
        }
        //download/upload button
        .File-explorer_menu_right{
            width:33%;
            display:flex;
            padding:0.5rem;
            justify-content: space-around;
            & > button{
                background-color: rgba(255, 255, 255, 0);
                color:white;
                border:none;
                font-size: 40px;
            }

        }

    }
}














// media queries //


// ipad queries //
@media (min-width: 768px) and (max-width: 1024px) {
    
}
// mobile queries //
@media (max-width: 767px) {

}