

header {
    background-color: antiquewhite;
}





body {
    background-color: antiquewhite;

    .Menu_Window {
        background-color: grey;
    }
    .Connection_Window {
        
        background-color:antiquewhite
    }
}