// color variables set to be used consistently
$main-color: rgb(44, 218, 145);
$main-colordark: rgb(28, 128, 86);


// little function to add shadow effect to text
@mixin shadoweffect{
    text-shadow: .55rem .55rem darken($main-colordark, 35%);
}
* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0;
    margin: 0;
}
header {
    color:aliceblue;
    text-align: center;
    padding: 1rem;
}

// navbar content both left and right side
.navbar {
    overflow:hidden;
    .navbar_button--left {
        float:left;
        display:block;
        text-align: center;
    }
    .navbar_button--right {
        float:right;
        display:block;
        text-align: center;

    }
}

// body content 
body {
    background: radial-gradient(ellipse at bottom,#1B2735 0%, #090A0F 100%);
    font-size:28px;
    height: 2000px;
    margin:0;
}
// set up buttons skin here
.myButton {
    background: rgba(0,0,0,0.1);
    color:white;
    border: 0em;
    padding: 1em 1em;
    margin: 0;
    
}

// add some effect when hover button
.myButton:hover {
    background-color:$main-color;
    color:black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
// hide by default Connection Window to only appear when "login"
.Connection_Window {
    
    display:none;
    z-index: 5000;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba (0,0,0,0.1);
    backdrop-filter:blur(80px);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    border-color: white;
    border-radius: 20px;
    & > h1 { // selection de H1 imbriqué dans la class Connection_Window ((sélecteur d'enfant combiné))
        margin-top: 1em;
        display:block;
        text-align: center;
        color:white;
        
    }
    & > form { // Selection of children selector <form>
        width:100%;
        display:block;
        margin-top: 1em;
        & > input { // Selection of children selector <form> <input>
            display:block;
            flex-direction:column;
            

        }
        & > i { // selection of children selector <form> <i>
            display:block;
            position:absolute;
            right:1em;
            
        }
        }
        
    }
    .connection_Window_Forgot {
        font-size:1rem;
    }


// add a sticky class to be call by javascript when it reaches its scroll position
.sticky {
    position:sticky;
    top:0;
    width:100%;
    z-index:100000;
    backdrop-filter:blur(80px);
    backdrop-filter: blur(10px);
    border: 1px solid white;
}
img {
    background-color: black;
    width:max-content;
}

.show-connectwindow {
    display:block;
}