/* special transparent class (timesave)*/
.transparent {
  transform: translate(-50%, -50%);
  background: rgba 0, 0, 0, 0.1;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

/* special selected class(timesave*/
.selected {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  margin: 0;
}

header {
  color: aliceblue;
  text-align: center;
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
nav .navbar_button--left {
  display: flex;
  flex-direction: row;
}
nav .navbar_button--left #gamebutton {
  display: none;
}
nav .navbar_button--right {
  display: flex;
  flex-direction: row;
}
nav .navbar_button--right #loginbutton {
  display: none;
}

.Connection_Window {
  display: none;
}

body {
  padding: 1rem;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  font-size: 28px;
  height: 2000px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.myButton {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0em;
  padding: 1em 1em;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.myButton:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5000;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid white;
}

img {
  background-color: black;
  width: -moz-max-content;
  width: max-content;
}

.Welcome {
  text-align: center;
  color: white;
}

.File-explorer {
  display: flex;
  flex-direction: column;
  height: 2000px;
}
.File-explorer .File-explorer_header {
  background-color: #20201a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  color: white;
  border: #2c2c2c solid 1px;
}
.File-explorer .File-explorer_header-logo {
  width: 10%;
}
.File-explorer .File-explorer_header-logo img {
  width: 50%;
}
.File-explorer .File-explorer_header-path {
  display: flex;
  gap: 15px;
  padding: 1rem;
  background-color: #2e2c27;
  border-radius: 25px;
  border: #2c2c2c solid 2px;
}
.File-explorer .File-explorer_header-research {
  background-color: #2e2c27;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  padding: 0.5rem;
  border: #2c2c2c solid 2px;
}
.File-explorer .File-explorer_header-research > form {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
  height: 30px;
}
.File-explorer .File-explorer_header-research > form > input {
  height: 100%;
  width: 100%;
  font-size: 18px;
  background-color: #2e2c27;
  border: none;
  color: white;
}
.File-explorer .File-explorer_header-research > form > button {
  background-color: rgba(24, 100, 171, 0);
  border: none;
  width: 50%;
  height: 100%;
}
.File-explorer .File-explorer_content {
  display: flex;
  flex-direction: row;
  height: 1000px;
  background-color: #191919;
  padding: 1rem;
  gap: 1rem;
}
.File-explorer .File-explorer_content .File-explorer_File-feature {
  border: rgb(44, 44, 44) solid 1px;
  display: flex;
  flex-direction: column;
  width: 33%;
}
.File-explorer .File-explorer_content .File-explorer_File-feature > span {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  color: white;
  border: rgb(44, 44, 44) solid 1px;
  padding: 0;
  height: 10%;
  align-items: center;
}
.File-explorer .File-explorer_content .File-explorer_File-feature > span > i {
  padding-left: 1rem;
}
.File-explorer .File-explorer_content .File-explorer_File-feature > span:hover {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.File-explorer .File-explorer_content .files {
  width: 65%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: rgb(44, 44, 44) solid 1px;
}
.File-explorer .File-explorer_content .files .item {
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 15px;
  color: white;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
.File-explorer .File-explorer_content .files .item > span {
  width: 30%;
}
.File-explorer .File-explorer_content .files .File-explorer_menu_info {
  background-color: #20201a;
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 15px;
  color: white;
  align-items: center;
  justify-content: space-between;
  border: rgb(44, 44, 44) solid 1px;
}
.File-explorer .File-explorer_content .files .File-explorer_menu_info > span {
  border-left: #2c2c2c solid 1px;
  width: 30%;
}
.File-explorer .File-explorer_menu {
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  color: white;
  justify-content: space-between;
  gap: 1rem;
  border: rgb(44, 44, 44) solid 1px;
}
.File-explorer .File-explorer_menu .File-explorer_menu_left {
  display: flex;
  justify-content: space-between;
  width: 59%;
  padding-left: 0.6rem;
  font-size: 20px;
  align-items: center;
  text-align: center;
}
.File-explorer .File-explorer_menu .File-explorer_menu_left > span {
  width: 30%;
  align-items: center;
}
.File-explorer .File-explorer_menu .File-explorer_menu_right {
  width: 33%;
  display: flex;
  padding: 0.5rem;
  justify-content: space-around;
}
.File-explorer .File-explorer_menu .File-explorer_menu_right > button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  font-size: 40px;
}/*# sourceMappingURL=FileListstyle.css.map */